<!--div id="bar"-->
	<div id="page_links">
		<div class="bar-links"><a id="Home" class="link" href="/users/profile" data-i18n="button.home">Home</a></div>
	</div>
	<div id="modalContainer"></div>
	<div id="output"></div>
	<div id="log_links">
		<div class="bar-links"><a class="link" href="/users/logout" data-i18n="button.logout">Log out</a></div>
		<div class="language-menu">
			<button class="language-button">
				<img id="currentFlag" src="/img/en.svg" alt="English" width="24" height="18">
			</button>
			<div class="language-options">
				<a href="#" onclick="changeLanguage('en'); return false;">
					<img src="/img/en.svg" alt="English"> English
				</a>
				<a href="#" onclick="changeLanguage('es'); return false;">
					<img src="/img/es.svg" alt="Español"> Español
				</a>
				<a href="#" onclick="changeLanguage('fr'); return false;">
					<img src="/img/fr.svg" alt="Français"> Français
				</a>
			</div>
		</div>
	</div>
<!--/div-->