<div id="game-container">
	<div id="overlay" class="overlay_style">
		<div id="game-menu" class="game-menu-style">
			<button id="local-game">Local mode</button>
			<button id="remote-game">Random Remote Match</button>
			<button id="remote-challenge">Create Remote Match</button>
			<button id="remote-ia-game">Remote IA</button>
		</div>
	</div>
	<div id="remote-match" class="overlay_style">
		<div class="game-menu-style">
			<h2>Rematch?</h2>
			<h2 id="rematch-countdown"></h2>
			<button id="accept-rematch">ok</button>
			<button id="reject-rematch">cancel</button>
		</div>
	</div>
	<div id="cancel-wait" class="overlay_style">
		<div class="game-menu-style">
			<button id="end-waiting">delete random challenge</button>
		</div>
	</div>
	<canvas id="pongCanvas" class="game-console"></canvas>
</div>
<div id="game-info">
	<ul id="game-info-tab" class="info-tab">
		<li id="game-log" class="tab-button" data-tab="game-log-tab"><span class="material-symbols-outlined">terminal</span></li>
		<li id="random-challenges" class="tab-button" data-tab="random-challenges-tab"><span class="material-symbols-outlined">shuffle</span></li>
		<li id="tournaments" class="tab-button" data-tab="tournaments-tab"><span class="material-symbols-outlined">trophy</span></li>
		<li id="connected-users" class="tab-button" data-tab="connected-users-tab"><span class="material-symbols-outlined">person</span></li>
		<li id="my-challenges" class="tab-button" data-tab="my-challenges-tab"><span class="material-symbols-outlined">my_location</span></li>
		<li id="my-tournaments" class="tab-button" data-tab="my-tournaments-tab"><span class="material-symbols-outlined">local_activity</span></li>
		<li id="my-friends" class="tab-button" data-tab="my-friends-tab"><span class="material-symbols-outlined">diversity_4</span></li>
	</ul>
		<ul id ="game-log-tab" class="tab-data"></ul>
		<ul id ="random-challenges-tab" class="tab-data big_data" style="display: none;"></ul>
		<ul id ="tournaments-tab" class="tab-data" style="display: none;"></ul>
		<ul id ="connected-users-tab" class="tab-data big_data" style="display: none;"></ul>
		<ul id ="my-challenges-tab" class="tab-data" style="display: none;"></ul>
		<ul id ="my-tournaments-tab" class="tab-data" style="display: none;"></ul>
		<ul id ="my-friends-tab" class="tab-data" style="display: none;"></ul>
</div>