<div id="main-container">
    <div class="site-container"></div>
    <div id="game-container">
        <h3 id="playerName" style="visibility: hidden;">unregistered</h3>
        <div id="game-menu">
            <h2 id="menu-message">Welcome to Pong</h2>
            <button id="local-mode">Local Multiplayer</button>
            <button id="ai-mode">IA mode</button>
            <button id="remote-mode">Remote</button>
        </div>

        <div id="canvas-container">
            <canvas id="pongCanvas"></canvas>
        </div>
    </div>
    <div class="site-container"></div>
</div>