<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true" style="color: #000;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel" data-i18n="login.title">Iniciar Sesión</h5>
                <button id="close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <!-- Formulario de Login -->
                <form id="loginForm">
                    <div class="mb-3">
                        <label for="username" class="form-label" data-i18n="login.username.label">Nombre de usuario o Correo Electrónico</label>
                        <input type="text" class="form-control" name="username" id="username" required>
                        <span id="errorName" class="error"></span><br>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label" data-i18n="login.password.label">Contraseña</label>
                        <input type="password" class="form-control" name="password" id="password" required>
                        <span id="errorPassword" class="error"></span><br>
                    </div>
                    <button type="submit" class="btn btn-primary" data-i18n="login.password.submit">Ingresar</button>
                </form>

            </div>
        </div>
    </div>
</div>