<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true" style="color: #000;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel" data-i18n="logout.title" >Close Session</h5>
                <!-- <button id="close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body">
                <span data-i18n="logout.confirm">You are going to close your session. Are you sure?</span>
            </div>
            <div class=button_container>
                <button id="cancel-logout" data-bs-dismiss="modal" type="submit" class="btn btn-primary" data-i18n="logout.cancel">Cancel</button>
                <button id="close-session" style="background-color: red;" type="submit" class="btn btn-primary" data-i18n="logout.exit">Exit</button>
            </div>
        </div>
    </div>
</div>