<div class="profile-container">
	<div class="profile">
		<div class="profile-photo">
			<img src="{{ user.image.url }}">
		</div>
		<div class="info">
			<div class="username-container">
				<h1 class="username">{{ user.username }}</h1>
				<div class="settings-icon">
					<i class="fas fa-cog link" href="/users/update"></i>
				</div>
			</div>
			<div class="actions">
				<button class="link challenge-btn" href="/game" data-i18n="profile.dash.1v1">Play 1v1</button>
			</div>
		</div>
	</div>

	<div class="stats">
		<div class="stat-card">
			<div class="stat-icon trophy">🏆</div>
			<div class="stat-value">{{ user.wins }}</div>
			<div class="stat-label" data-i18n="profile.dash.wins">Total Wins</div>
		</div>

		<!-- loses -->
		<div class="stat-card">
			<div class="stat-icon trophy">XXX</div>
			<div class="stat-value">{{ user.losses }}</div>
			<div class="stat-label" data-i18n="profile.dash.losses">Total Losses</div>
		</div>
		
		<div class="stat-card">
			<div class="stat-icon clock">🕒</div>
			<div class="stat-value">{{ user.matches }}</div>
			<div class="stat-label" data-i18n="profile.dash.matches">Games Played</div>
		</div>
		
		<div class="stat-card">
			<div class="stat-icon tournament">👑</div>
			<div class="stat-value">XXX</div>
			<div class="stat-label" data-i18n="profile.dash.tournament">Tournament Wins</div>
		</div>
	</div>

	<div class="tabs">
		<button class="tab active">Match History</button>
		<!-- <button class="tab" onclick="window.location.href='/users/friends'">Friends</button> -->
		<button class="tab link" href="/users/friends">Friends</button>
		<button class="tab">Achievements</button>
	</div>

	<div class="match-history">
		<div class="match-item">
			<div>
				<div class="match-players">XXX vs XXX</div>
				<div class="match-time">XXX hours ago</div>
			</div>
			<div class="match-score">XXX - XXX</div>
		</div>
		{% for match in matches %}
		<div class="match-item">
			<div>
				<div class="match-players">{{ match.player1 }} vs {{ match.player2 }}</div>
				<div class="match-time">{{ match.date }}</div>
			</div>
			<div class="match-score">{{ match.score1 }} - {{ match.score2 }}</div>
		</div>
		{% endfor %}
	</div>
</div>