<div class="profile">
	<div class="profile-photo">
		<img src="{{ user.image.url }}"> <!-- src="img/España.webp"> -->
	</div>
	<div class="info">
		<h1 id="username">{{ user.username }}</h1>
		<div class="stats">
			<h2>wins: {{ user.wins }}<!--span id="wins">0</span--></h2>
			<h2>losses: {{ user.losses }}<!--span id="losses">0</span--></h2>
			<h2>matches: {{ user.matches }}<!--span id="matches">0</span--></h2>
		</div>
	</div>
</div>
<div class="fila">
	<button class="item link" href="/game">Play 1v1</button>
	<button class="item link" href="/game">Play online</button>
	<button class="item link" href="/game">Tournament</button>
</div>
<div class="fila">
	<button class="item link" href="/game">Stats</button>
	<button class="item link" href="/game">Storage</button>
	<button class="item link" href="/game">Options</button>
</div>