<div class="main-container">
	<div class="profile-container">
		<div class="profile">
			<div class="info">
				<div class="username-container">
					<h1 class="username" data-i18n="tournament.create.title">Create Tournament</h1>
				</div>
				<form id="loginForm" enctype="multipart/form-data">
					<div class="mb-3">
						<label for="tournament-name" class="form-label" data-i18n="tournament.create.name">Tournament Name</label>
						<input type="text" class="form-control message-input" id="tournament-name" name="tournament-name" value="" required>
						<span id="errorName" class="error"></span><br>
					</div>
					<div class="mb-3">
						<label for="number-players" class="form-label" data-i18n="tournament.create.players">Number of Players</label>
						<select id="number-players" name="number-players" class="form-control message-input">
							<option value="4">4</option>
							<option value="8">8</option>
							<option value="16">16</option>
							<option value="32">32</option>
						</select>
					</div>
					<div class="actions">
						<button type="submit" data-i18n="tournament.create.submit">Create Tournament</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
