
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true" style="color: #000;">
    <div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="loginModalLabel">Iniciar Sesión</h5>
                <button id="close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
				<!-- Formulario de Login -->
				<button id="Email" style="min-width: 50%;" data-bs-dismiss="modal" type="submit" class="btn btn-primary link" href="/two_fa/email" >Email</button>
				<button id="Google" style="min-width: 50%;" data-bs-dismiss="modal" type="submit" class="btn btn-primary" >Google</button>
				<button id="SMS" style="min-width: 50%;" data-bs-dismiss="modal" type="submit" class="btn btn-primary" >SMS</button>

				<!-- <form action="/submit" method="post">
					<label for="opciones">Options:</label>
					<select id="opciones" name="opcion">
						<option value="opcion1">Email</option>
						<option value="opcion2">Google</option>
						<option value="opcion3">SMS</option>
					</select>
					<br><br>
					<button type="submit">Enviar</button>
				</form> -->

            </div>
        </div>
    </div>
</div>