<h1 id="header">Welcome to the Cosmic 42Pong 2</h1>
<div class="modal-content" style="background-color: rgb(32, 32, 32); padding: 10px; border: 20px; border-color: red;">
	<div class="modal-header">
		<h5 style="color: white;" class="modal-title" id="loginModalLabel">Regístrate</h5>
	</div>
	<div class="modal-body">
		<!-- Formulario de Login -->
		<form id="loginForm" enctype="multipart/form-data">
			<div class="file-upload">
				<input type="file" id="fileInput" name="image" value="{{ user.image.url }}" accept="image/*">
				<label for="fileInput">
					<div class="circle">
						<img id="preview" src="{{ user.image.url }}"> <!-- alt="Vista previa"> -->
					</div>
				</label>
				</div>
				<div class="mb-3">
					<label style="color: white;" for="username" class="form-label">Nombre de usuario</label>
					<input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" required>
					<span id="errorName" class="error"></span><br>
				</div>
				<div class="mb-3">
					<label style="color: white;" for="email" class="form-label">Correo Electrónico</label>
					<input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" required>
					<span id="errorEmail" class="error"></span><br>
				</div>
				<div class="mb-3">
					<label style="color: white;" for="old-password" class="form-label">Contraseña Actual</label>
					<input type="old-password" class="form-control" id="old-password" name="old-password">
					<span id="errorOldPassword" class="error"></span><br>
				</div>
				<div class="mb-3">
					<label style="color: white;" for="new-password" class="form-label">Nueva Contraseña</label>
					<input type="new-password" class="form-control" id="new-password" name="new-password">
					<span id="errorPassword" class="error"></span><br>
				</div>
				<div class="mb-3">
					<input type="hidden" name="two_fa_enabled" value=False>
					<label class="switch">
						<input type="checkbox" id="two_fa_enabled" name="two_fa_enabled" value=True
							{% if user.two_fa_enabled %}checked{% endif %}>
						<span class="slider"></span>
					</label>
					<label style="color: white;" for="username" class="form-label">Enable Two-Factor Authentication</label>
				</div>
			<button type="submit">Ingresar</button>
		</form>
	</div>
</div>