
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true" style="color: #000;">
    <div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="loginModalLabel" data-i18n="otp.title">Iniciar Sesión</h5>
                <button id="close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
				
				<!-- Formulario de Login -->
				<img src="data:image/png;base64,{{ qr }}" alt="Código QR">
				<form id="loginForm">
					<!-- {% csrf_token %} -->
					<label for="otp_code" data-i18n="otp.introduce">Introduce tu código OTP:</label>
					<input type="text" id="otp-code" name="otp-code" required>
					<span id="errorName" class="error"></span><br>
					<button type="submit" class="btn btn-primary" data-i18n="otp.verify" style="padding: 5px;">Verificar</button>
					{% if error %}
						<p style="color: red;">{{ error }}</p>
					{% endif %}
				</form>

            </div>
        </div>
    </div>
</div>