.chat-content {
	/* width: 1100px; */
	width: 100%;
	max-width: 90%;
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (min-width: 413px) and (max-width: 1025px) {
	.chat-content {
		/* width: 742px; */
		min-width: 413px;
		width: 95%;
		max-width: 1024px;
	}
}

@media (max-width: 413px) {
	.chat-content {
		/* width: 350px; */
		max-width: 413px;
	}
}

.chat-profile {
	height: 100px;
	border: 5px solid white;
	border-radius: 30px;
	margin: 0px;
	background-color: black;
	display: flex;
	justify-content: left;
	align-items: center;
}

.chat-log {
	/* width: 100%; */
	/* width: 1100px; */
	/* max-width: 90%; */
	flex: 1;
	padding: 10px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}
/* 
@media (min-width: 769px) and (max-width: 1024px) {
	.chat-content {
		/ * width: 95%; * /
	}
	.chat-log {
		/ * width: 95%; * /
		width: 742px;
	}
}

@media (max-width: 768px) {
	.chat-content {
		/ * width: 95%; * /
	}
	.chat-log {
		/ * width: 95%; * /
		width: 661px;
	}
} */

.chat-profile {
	width: 100%;
	height: auto;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 15px;
	margin: 0px 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	z-index: 1000;
	position: relative;
	padding: 10px 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.chat-photo {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden; /* Oculta el exceso de la imagen si es necesario */
	margin-left: 40px;
}

.chat-photo img {
	width: 100%;
    height: 100%;
    object-fit: cover; /* Hace que la imagen llene completamente el contenedor */
}

.chat-info {
	margin-left: 0px;
	height: 100%;
	/* min-width: 600px; */
	border: 15px;
	border-color: red;
	border-radius: 30px;
	text-align: left;
	font-size: 5px;
	color: white;
	margin-left: 20px;
}

.message-bar {
	display: flex;
	align-items: center;
	/* max- */width: 100%;
	height: 40px;
	margin: 0px auto;
	border: 2px solid #898989;
	background-color: #e0e0e0;
	border-radius: 30px;
	overflow: hidden;
}

.message-bar input {
	width: 90%;
	flex: 1;
	padding: 10px;
	border: none;
	outline: none;
	background-color: #e0e0e0;
}

.message-bar button {
	padding: 10px 20px;
	background-color: #e0e0e0;
	color: black;
	border: none;
	cursor: pointer;
	font-size: medium;
}

.message-bar button:hover {
	background-color: #e0e0e0;
	color: black;
}

.chat-container {
	height: 500px;
	/* height: 70%; */
	width: 100%;
	display: flex;
	flex-direction: column;
	border: 1px solid #ccc;
	border-radius: 10px;
	/* background: white; */
	background: whitesmoke;
	overflow: hidden;
}

/*  */

.message {
	max-width: 80%;
	padding: 8px 12px;
	margin: 5px;
	border-radius: 8px;
	word-wrap: break-word;
	display: inline-block;  /* Permite que el div crezca con el texto */
}

.me {
	background: #007bff;
	color: white;
	align-self: flex-end;
}

.sender {
	background: #7e7e7e;
	color: white;
	align-self: flex-start;
}