.modal-dialog > div {
    padding: 5px;
}
.modal-body > * {
    padding: 5px;
}

.modal-body img {
    width: 90%;
    resize: both;
}

.modal-body form > button {
    padding: 5px;
}

.modal-body button {
    padding: 5px;
}

.button_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button_container button {
    width: 45%;
    margin: 1%;
    padding: 5px;
}