.start-div {
	height: 80px;
	align-items: center;
}

#table {
	background-color: black;
	margin: 0 auto;
	width: 800px;
	height: 500px;
	border: 15px solid white;
	display: flex;
	justify-content: space-between;
}

.marcador {
	margin: 0 auto;
	width: 250px;
	display: flex;
	justify-content: space-between;
}

.numero {
	font-size: 110px;
	color: white;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
}

#ball {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background-color: red;
	position: absolute; /* Necesario para poder moverlo con exactitud */
	left: 0; /* Comienza desde el extremo izquierdo */
	top: 50%; /* Centrado verticalmente */
	transform: translateY(-50%); /* Asegura que esté centrado verticalmente */
	/*
	animation: moveBox 3s linear infinite;
	name duration timing-function delay iteration-count direction fill-mode;
	*/
}

.goal {
	width: 20px;
}

.figure {
	background-color: white;
	height: 100px;
	width: 10px;
/* 	margin: 10px; */
/* 	top: 290px;
	position: absolute; */
}

#left {
	margin-top: 50%;
	margin-left: 10px;
}

#right {
	margin-top: 50%;
	margin-right: 10px;
}

@keyframes moveBox {
	0% { left: 0; top: 0;}
	50% { left: calc(100% - 100px); top: calc(100% - 100px); } /* Se mueve a la derecha */
	100% { left: 0; top: 0; } /* Vuelve a la posición inicial */
}