.silkscreen-regular {
	font-family: "Silkscreen", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.silkscreen-bold {
	font-family: "Silkscreen", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.geo-regular {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.geo-regular-italic {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.material-symbols-outlined {
	font-variation-settings:
	'FILL' 0,
	'wght' 400,
	'GRAD' 0,
	'opsz' 24
}


#game-container {
    width: 400px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
	/*border: 15px solid #ffffff;*/
}

.game-console {
	display: block;
	width: 400px;
	height: 800px;
	margin: 0;
}

#pongCanvas {
	border: 15px solid #ffffff;
	border-collapse: collapse;
	background-color: #006b1b;
}

.overlay_style {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	display: none;
	background: rgba(0, 0, 0, 0.8);
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.game-menu-style {
	font-family: "Silkscreen", sans-serif;
	background: rgba(255, 255, 255, 0.9);
	text-align: center;
	width: 100%;
	max-width: none;
	border-radius: 0;
}

.game-menu-style button {
	display: block;
	font-weight: 200;
	width: 100%;
	font-size: 18px;
	border: none;
	padding: 20px;
	background: rgba(0, 0, 0, 0.9);
	color: white;
	cursor: pointer;
	border-radius: 0;
	text-align: center;
}

.game-menu-style hr {
	width: 1px;
}

.game-menu-style button:hover {
	background: linear-gradient(to right, #b22633, #001695);
	color: white;
}

ul.tab-content {
	width: 100%;
	font-size: 25px;
	display: block;
	margin: 0;
	padding: 0;
}

ul.tab-content > li {
	cursor: pointer;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
	border-bottom: 1px solid #ddd;
	list-style: none;
}

ul.tab-content > li > div {
	display: inline-flex;
	margin-right: 0;
}

ul.tab-content > li > div > span{
	padding: 5px;
}
ul.tab-content > li > div > span:hover {
	background-color: #555;
}

ul.tab-content > div > li:hover {
	background-color: #555;
}

#game-info {
    width: 400px;
    height: 800px;
    border-left: 15px solid #ffffff;
	border-right: 15px solid #ffffff;
	border-bottom: 15px solid #ffffff;
	background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: white;
    font-family: "Geo", sans-serif;
	box-sizing: border-box;
}

.tab-data {
	margin-top: 15px;
	display: block;
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
	clear: both;
	overflow: auto;
	overflow-style: marquee-line;
}

ul.big_data {
	font-size: 25px;
}

ul.big_data > li {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 5px;
}

ul.big_data > li > div {
	display: flex;
	cursor: pointer;
}

ul.big_data > li > div > span:hover {
	display: flex;
	background-color: #00a0b5;
}

ul#game-log-tab {
	color: white;
	list-style-type: none;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-style: italic;
	font-size: 17px;

}

ul#game-log-tab > li::before {
	content: "(42-pong): ";
	color: #4ac1f7;
}

ul#game-log-tab > li {
	text-align: left;
	padding: 2px;

}

/* Top menu */
ul.info-tab {
	height: 50px;
	width: auto;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	clear: both;
	font-family: "Geo", sans-serif;
	text-align: center;
	justify-content: center;
	border: none;
	box-sizing: content-box;
}

ul.info-tab>li {
	display: flex;
	justify-content: center;
	align-items: center;
}

ul.info-tab > li > span {
	padding: 10px;
	font-size: 35px;
	cursor: pointer;
}

ul.info-tab>li:hover {
	color: #6f94c6;
}
