body {
	/*background-color: black;*/
	background-image: url('../img/stars.jpg');
	animation: fadeIn 2s ease-out;
}
#all {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}

#content {
  animation: fadeIn 2s ease-out;/*  forwards; */
  text-align: center;
}

#game {
}

#barra {
  /* height: 25px; */
  padding: 0px 15px;
  color: aliceblue;
  /* background-color: brown; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: space-between;
  /*background-color: aqua;*/
}

#log_links {
	display: flex;
	justify-content: left;
}

#log_links {
	display: flex;
	justify-content: right;
}

.link {
  font-weight: bold;
  color: aliceblue;
  text-decoration: none;
}

.links {
  padding: 15px;
  font-weight: bold;
}

.header {
	font-size: xx-large;
	color: antiquewhite;
}

button {
	padding: 5px 15px;
	color: brown;
	font-size: x-large;
	font-weight: bold;
	border: 4px solid brown;
	background-color: sandybrown;
	border-radius: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1;
  }
}