# Django Framework
Django>=4.0,<5.0

# Django REST Framework para crear APIs
djangorestframework>=3.14

# Django CORS Headers para manejar CORS
django-cors-headers>=3.13

# Django Channels para WebSockets
channels>=4.0

# Daphne para conectarse a WebSockets
daphne>=4.0,<5.0

# PostgreSQL Driver (psycopg2) para conectarse a una base de datos PostgreSQL
psycopg2>=2.9
psycopg2-binary>=2.9

# PyJWT para crear y verificar tokens JWT
PyJWT==2.8.0

# Opcional: Channels Redis si estás utilizando Redis para manejar WebSockets
channels-redis>=4.0

# Libreria Pillow para usar ImageField en Models
Pillow>=10.0.0

# Para autenticación con JWT
djangorestframework-simplejwt[token-blacklist]==5.2.2

# Base para 2FA
#django-otp==1.0.4

# OTP basado en tiempo (Google Authenticator)
#django-otp-totp==1.0.3  # Versión ajustada para compatibilidad

# OTP vía email
#django-otp-email==1.0.4

# Para implementar el estándar de códigos OTP basados en tiempo (TOTP).
pyotp>=2.9.0

#django
#pyotp==2.8.0

# Twilio para enviar SMS
twilio==8.0.0

# Para generar QR
qrcode==7.3

# Para gestionar variables de entorno
#django-environ==0.10.0

python-dateutil==2.8.2

#Install hvac to fetch secrets from the vault
hvac==2.2.0

# To create json formatted logs
python-json-logger==3.2.1

#Django data exporter module for Prometheus 
django-prometheus==2.3.1

# Para generar modelos random
Faker==20.1.0
